@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.topv {
    margin-top: 20px;
}

.tin {
    background-color: #0d1635;
    color: white;
}

.chart-header-text {
    font-size: 16px;
    font-weight: 700;

}

.btnv {

    margin-top: 7px;
}

.savebtn {
    padding: 3px 10px;
    background-color: rgb(0, 89, 255);
    border: none;
    color: white;
    border-radius: 25%;
}

.frame {
    padding-top: 10px;
}

.timeframe {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.chartBox {
    width: 140%;
    padding: 10px;
    border-radius: 20px;
    background: white;
    margin-top: 10px;
    box-shadow: 2px 2px 3px 3px #acacac5e;
}

.chart-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.chart-header-text {
    font-size: 16px;
    padding-top: 22px;
    font-weight: 700;
    padding-left: 10px;
}

.chart-header-section {
    padding-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
